@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Caption", sans-serif;
}

.calculator {
  background: #f9fbfb;
  width: 25em;
  margin: 5em auto;
}

.display {
  background: #f9fbfb;
  color: #000;
  text-align: right;
  font-size: 1.7em;
  width: 11em;
  height: 3em;
  line-height: 4em;
  padding: 0 0.7em;
  margin: auto;
  box-shadow: -6px -7px 5px 0px rgba(0, 0, 0, 0.14);
  border: 0.01em solid rgba(0, 0, 0, 0.14);
  border-radius: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.7em 0;
  margin: auto 0.5em;
}

.buttons button {
  background: #f1f5f5;
  color: #000;
  height: 4em;
  width: 4em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.15);
  border: unset;
  font-size: large;
}

.buttons button:hover {
  background: #ffffff;
  box-shadow: 10px 10px 5px -5px rgba(130, 7, 197, 0.223);
  border: 0.01em solid rgba(130, 7, 197, 0.223);
}

.buttons button:active {
  transform: translateX(0.08em) translateY(0.08em);
}

.buttons .color {
  font-weight: 600;
  color: #630fb9;
}

.buttons .equals {
  background-color: #7311d6;
  color: #fff;
}

.buttons .equals:hover {
  color: #000;
}

@media screen and (max-width: 768px) {
  .calculator {
    width: 100vw;
    height: 100vh;
    margin: auto;
  }
}
