@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Caption", sans-serif;
}

.calculator {
  background: #f9fbfb;
  width: 25em;
  margin: 5em auto;
}
